In [1]:
import pandas as pd
import datetime as dt
import os

In [2]:
drop_cols = ['replies_count', 'retweets_count', 'likes_count', 'cashtags', 'conversation_id',
            'language', 'mentions', 'urls', 'photos', 'quote_url' ,'video' ,'thumbnail' ,'near',
            'geo', 'source', 'user_rt_id', 'retweet_id', 'reply_to', 'retweet_date', 'created_at',
            'translate', 'trans_src', 'trans_dest', 'place', 'name', 'timezone', 'user_rt', 'link', 'retweet']

parse_dates=['date']
dtypes={'id': 'str', 'date':'str', 'user_id':'str', 'username':'str', 'hashtags':'str', 'tweet':'str'}

dfs = []
for file in os.listdir('../data/tweets/'):
    if file[0] == '.':
        continue
    tmp = pd.read_csv('../data/tweets/' + file, parse_dates=parse_dates, low_memory=False, dtype=dtypes).drop(columns=drop_cols)
    tmp.drop_duplicates(subset='tweet', inplace=True)
    dfs.append(tmp)


df = pd.concat(dfs, ignore_index=True)
print(df.shape)
df.drop_duplicates(inplace=True)
print(df.shape)

(1002367, 7)
(903431, 7)

In [3]:
df

,id,date,time,user_id,username,tweet,hashtags
0,1313630113934737411,2020-10-06,23:59:59,481962653,sully_lilly,@JoeBiden 47 years and now you are ready to do...,['draintheswamp']
1,1313630113821581312,2020-10-06,23:59:59,1299543389092884480,nutzwhat,@Astraea_Muse @DontBanMeBro7 @RonColeman @JoeB...,[]
2,1313630112789803011,2020-10-06,23:59:59,1156541146287542272,carolwo53195499,@ElTomatill0 @jimsciutto @JoeBiden He has said...,[]
3,1313630112609456128,2020-10-06,23:59:59,141645754,davidkgather,LIVE: ‚ÄúBattle for the Soul of the Nation‚Äù- Joe...,[]
4,1313630112500326404,2020-10-06,23:59:59,5510112,spaceweasel,Biden raises eyebrows after telling 'these bea...,[]
...,...,...,...,...,...,...,...
1002362,1323046705575665666,2020-11-01,23:38:10,118488849,nicolaevna,@bdelamaza Si EEUU cae en las garras del globa...,[]
1002363,1323046704292286471,2020-11-01,23:38:09,2462576047,giselargg,"@JoeBiden Good luck, mr. Biden üá≤üáΩ",[]
1002364,1323046703101059072,2020-11-01,23:38:09,1045846521407770624,knut_koch,Hunter Biden pic and videos have been upload o...,"['trump2020', 'biden2020', 'scandal', 'fakemed..."
1002365,1323046703063273476,2020-11-01,23:38:09,1094567855742509057,leplumba,@JoeBiden You will fight for the swamp creatur...,"['bidencrimefamiilyexposed', 'laptopfromhell',..."
1002366,1323046702777921537,2020-11-01,23:38:09,127591519,chapman8tor,FBI investigating alleged harassment by of Bi...,[]

In [4]:

dtypes = {
    'id': str,
    'user_id': str,
    'username': str,
    'tweet': str
}

df = df.astype(dtypes)

In [5]:
df.drop_duplicates(subset='id', inplace=True)
df.shape

(903314, 7)

In [6]:
df['trump'] = df.tweet.str.contains("[Tt][Rr][Uu][Mm][Pp]")
df['biden'] = df.tweet.str.contains("[Bb][Ii][Dd][Ee][Nn]")
df.head(3)

,id,date,time,user_id,username,tweet,hashtags,trump,biden
0,1313630113934737411,2020-10-06,23:59:59,481962653,sully_lilly,@JoeBiden 47 years and now you are ready to do...,['draintheswamp'],False,True
1,1313630113821581312,2020-10-06,23:59:59,1299543389092884480,nutzwhat,@Astraea_Muse @DontBanMeBro7 @RonColeman @JoeB...,[],False,True
2,1313630112789803011,2020-10-06,23:59:59,1156541146287542272,carolwo53195499,@ElTomatill0 @jimsciutto @JoeBiden He has said...,[],False,True

In [7]:
df.trump.value_counts()

True     555698
False    347616
Name: trump, dtype: int64

In [8]:
df.biden.value_counts()

True     520349
False    382965
Name: biden, dtype: int64

In [9]:
# df.to_csv("../data/all_tweets_raw.csv")

## Filtering Our Data Down

We need to do two things:
1. Exclude tweets with under 70 characters.
2. We'll only use tweets that mention one candidate; and not the other
    * equal amount of each

In [10]:
# exclude tweets with under 70 characters

mask = df.tweet.str.len() > 100
df = df[mask]
df.shape

(570189, 9)

In [11]:
# mask = (df.trump == 0) & (df.biden == 1)
# biden = df[mask].sample(150000)

# mask = (df.trump == 1) & (df.biden == 0)
# trump = df[mask].sample(150000)

# df_balanced = pd.concat((pd.DataFrame(), biden_72k, trump_72k))
# df_balanced

In [12]:
df.to_pickle("pickle/df_ALL_TWEETS_raw.pick")