In [1]:
import pandas as pd
import datetime as dt

In [2]:
drop_cols = ['replies_count', 'retweets_count', 'likes_count', 'cashtags', 'conversation_id',
            'language', 'mentions', 'urls', 'photos', 'quote_url' ,'video' ,'thumbnail' ,'near',
            'geo', 'source', 'user_rt_id', 'retweet_id', 'reply_to', 'retweet_date', 'created_at',
            'translate', 'trans_src', 'trans_dest', 'place', 'name', 'timezone', 'user_rt', 'link', 'retweet']

In [3]:
df_biden = pd.read_csv("../data/tweets/all_biden_2020-11-02.csv").drop(columns=drop_cols)
df_trump = pd.read_csv("../data/tweets/all_trump_2020-11-02.csv").drop(columns=drop_cols)

/opt/conda/envs/twint2/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_trump['date'] = pd.to_datetime(df_trump['date'], format="%Y-%m-%d")
df_trump['time'] = pd.to_datetime(df_trump['time'],format='%H:%M:%S').dt.time
df_biden['date'] = pd.to_datetime(df_biden['date'], format="%Y-%m-%d")
df_biden['time'] = pd.to_datetime(df_biden['time'],format='%H:%M:%S').dt.time

df_trump.head(3)

,id,date,time,user_id,username,tweet,hashtags
0,1323414586586968064,2020-11-02,23:59:59,1242220312676241409,kamalatoe,Trump is campaigning with steel and autoworker...,"['macon', 'gasen', 'savannah', 'riseup']"
1,1323414586511429634,2020-11-02,23:59:59,2324659466,didih2214,Trump is having unscalable fencing erected aro...,['votehimout2020']
2,1323414586503143424,2020-11-02,23:59:59,215506541,cuffy__,"They support trump like he cares about them, h...",[]

In [5]:

dtypes = {
    'id': str,
    'user_id': str,
    'username': str,
    'tweet': str
}

df_trump = df_trump.astype(dtypes)
df_biden = df_biden.astype(dtypes)

In [6]:
df_biden.dtypes

id                  object
date        datetime64[ns]
time                object
user_id             object
username            object
tweet               object
hashtags            object
dtype: object

In [7]:
df_nov2 = pd.concat((pd.DataFrame(), df_trump, df_biden))

In [8]:
df_nov2.sample(10)

,id,date,time,user_id,username,tweet,hashtags
13768,1323410776376442885,2020-11-02,23:44:51,711577294,chrisfguzman,@MattB75593644 @JoyVBehar You people are livin...,[]
66016,1323395257795514369,2020-11-02,22:43:11,1122905949134643203,autonoae,"cw // politics also please, if biden wins tom...",[]
53437,1323399180396748806,2020-11-02,22:58:46,2939315576,deedaniels_17,bishop reverend joe biden,[]
387239,1323405155304267776,2020-11-02,23:22:31,1005312386335535104,lukinator111,@WhitbreadsMotie @LakeShowBoss @realDonaldTrum...,[]
29779,1323412321130016768,2020-11-02,23:50:59,1256966639276314624,canyouhelp15,@EvanMcMullin Kansas Man Shoots Three 8-Year...,[]
83538,1323389807234600961,2020-11-02,22:21:32,548173359,brianheffernan1,"@Carolyns_RVLife Hopefully, if Biden wins, I w...",[]
251503,1323364374623494152,2020-11-02,20:40:28,1053987330,pjhead25,So when Trump wins are the NFL and NCAA gonna ...,[]
387685,1323405054880067584,2020-11-02,23:22:07,1137167011367325697,robertclem16,Trump’s latest smear campaign backfires as the...,['smartnews']
365872,1323409911108136960,2020-11-02,23:41:25,1177068424989536256,cubensisp,@_Strong_Heart_ @PeterRabbit67 @Rickapolis @MS...,[]
169061,1323381847435468802,2020-11-02,21:49:54,1298974836384030726,trumpsrump5,@NateSilver538 Interesting. I thought the CW ...,[]

In [9]:
df_nov2.drop_duplicates(subset='id', inplace=True)
df_nov2.shape

(359698, 7)

In [10]:
df_nov2['trump'] = df_nov2.tweet.str.contains("[Tt][Rr][Uu][Mm][Pp]")
df_nov2['biden'] = df_nov2.tweet.str.contains("[Bb][Ii][Dd][Ee][Nn]")
df_nov2.head(3)

,id,date,time,user_id,username,tweet,hashtags,trump,biden
0,1323414586586968064,2020-11-02,23:59:59,1242220312676241409,kamalatoe,Trump is campaigning with steel and autoworker...,"['macon', 'gasen', 'savannah', 'riseup']",True,False
1,1323414586511429634,2020-11-02,23:59:59,2324659466,didih2214,Trump is having unscalable fencing erected aro...,['votehimout2020'],True,False
2,1323414586503143424,2020-11-02,23:59:59,215506541,cuffy__,"They support trump like he cares about them, h...",[],True,False

In [11]:
df_nov2.trump.value_counts()

True     285919
False     73779
Name: trump, dtype: int64

In [12]:
df_nov2.biden.value_counts()

False    221981
True     137717
Name: biden, dtype: int64

## Now let's only include the same amount of tweets for each candidate.

We'll only use tweets that mention one candidate; and not the other. Let's balance these.

In [13]:
mask = (df_nov2.trump == 0) & (df_nov2.biden == 1)
biden_70k = df_nov2[mask].head(72000)

mask = (df_nov2.trump == 1) & (df_nov2.biden == 0)
trump_70k = df_nov2[mask].head(72000)

df_balanced = pd.concat((pd.DataFrame(), biden_70k, trump_70k))
df_balanced

,id,date,time,user_id,username,tweet,hashtags,trump,biden
181142,1323379284434669568,2020-11-02,21:39:43,2820503362,artistacriseida,All these articles showing that Biden is in th...,[],False,True
0,1323414585995526144,2020-11-02,23:59:59,1312487180258820096,annapieters17,@FoxNews Lady Gaga’s a nobody. Can’t figure ou...,[],False,True
4,1323414585232293888,2020-11-02,23:59:59,2335763630,kylechwatt,@The_Grupp “It is purely a fortuity that this ...,[],False,True
5,1323414585097908224,2020-11-02,23:59:59,3282973915,medianpolitics,@MSNBC What? When words just don't match rea...,[],False,True
6,1323414584930103298,2020-11-02,23:59:59,105937456,mannie9,Biden lives in confusion!,[],False,True
...,...,...,...,...,...,...,...,...,...
109201,1323394798229856256,2020-11-02,22:41:22,228320007,johnnylerose,Obama in Georgia has the last laugh at Trump -...,"['senators', 'voted', 'vote', 'senaterepubs']",True,False
109202,1323394797772689415,2020-11-02,22:41:21,886602582478729216,g0ldenstandard,@BritainElects Trump wins easily with at least...,[],True,False
109203,1323394797462315009,2020-11-02,22:41:21,1278448014915514368,panos_arlene,@TimMurtaugh @catturd2 @realDonaldTrump All I ...,[],True,False
109204,1323394797307105282,2020-11-02,22:41:21,3436140857,frankdiblasi860,Live: Trump holds 'MAGA' rally in Traverse Cit...,[],True,False
109205,1323394797235802114,2020-11-02,22:41:21,1940133968,coolcat4america,"11/2/20: ""When lifelong Democrat Mayra Gomez t...",[],True,False

In [ ]:
df_balanced.to_pickle("pickle/balanced_nov2_tweets.pick")