## Implementing Chris Doenlen's 'Bot Or Not' Python Module

Everything from `twitter_funcs.py` was cloned from Chris' [repository](https://github.com/scrapfishies/twitter-bot-detection).

I will use this to label each user as 'bot' (boolean 1/0).

In [1]:
import pandas as pd
import numpy as np
from copy import deepcopy
from twitter_funcs import *

In [2]:
tweets = pd.read_pickle("pickle/df_t_raw.pick")

In [3]:
data = deepcopy(tweets[:500])

In [4]:
data.head(3)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,biden,trump
0,1321602647368019968,1321554078376226818,2020-10-28 23:59:59 UTC,2020-10-28,23:59:59,0,828075570219085824,jessferg2253,Jessa,NaN,...,NaN,NaN,NaN,"[{'screen_name': 'capriaaf', 'name': 'Capria',...",NaN,NaN,NaN,NaN,1,1
1,1321602647129051136,1321493697565880320,2020-10-28 23:59:59 UTC,2020-10-28,23:59:59,0,255255428,margculbster,margaret c,NaN,...,NaN,NaN,NaN,"[{'screen_name': 'Changinglenses', 'name': 'La...",NaN,NaN,NaN,NaN,1,0
2,1321602646973755395,1321602646973755395,2020-10-28 23:59:59 UTC,2020-10-28,23:59:59,0,15863393,katehinds,Kate Hinds,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,1,1

In [5]:
data

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,biden,trump
0,1321602647368019968,1321554078376226818,2020-10-28 23:59:59 UTC,2020-10-28,23:59:59,0,828075570219085824,jessferg2253,Jessa,NaN,...,NaN,NaN,NaN,"[{'screen_name': 'capriaaf', 'name': 'Capria',...",NaN,NaN,NaN,NaN,1,1
1,1321602647129051136,1321493697565880320,2020-10-28 23:59:59 UTC,2020-10-28,23:59:59,0,255255428,margculbster,margaret c,NaN,...,NaN,NaN,NaN,"[{'screen_name': 'Changinglenses', 'name': 'La...",NaN,NaN,NaN,NaN,1,0
2,1321602646973755395,1321602646973755395,2020-10-28 23:59:59 UTC,2020-10-28,23:59:59,0,15863393,katehinds,Kate Hinds,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,1,1
3,1321602646894141441,1321505903024242688,2020-10-28 23:59:59 UTC,2020-10-28,23:59:59,0,975372286231498754,sage72975444,sage,NaN,...,NaN,NaN,NaN,"[{'screen_name': 'Carrasquillo', 'name': 'Adri...",NaN,NaN,NaN,NaN,1,1
4,1321602646374047746,1321231577867866112,2020-10-28 23:59:59 UTC,2020-10-28,23:59:59,0,3138528583,henningerdavid,David Henninger,NaN,...,NaN,NaN,NaN,"[{'screen_name': 'realDonaldTrump', 'name': 'D...",NaN,NaN,NaN,NaN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1321602355373264896,1321602355373264896,2020-10-28 23:58:50 UTC,2020-10-28,23:58:50,0,1313555440152834048,i10abd,Aytan Abd,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,1,0
496,1321602354056224768,1321578857682665474,2020-10-28 23:58:50 UTC,2020-10-28,23:58:50,0,1248090223302541312,readmythingys,Eddie Punchclock ðŸŒ¹,NaN,...,NaN,NaN,NaN,"[{'screen_name': 'SuperTiso', 'name': 'Tiso Sp...",NaN,NaN,NaN,NaN,1,0
497,1321602353775206401,1318227914169540609,2020-10-28 23:58:49 UTC,2020-10-28,23:58:49,0,1191769429,donna_suess,Donna Suess Tarantino,NaN,...,NaN,NaN,NaN,"[{'screen_name': 'TheNickAdams', 'name': 'NICK...",NaN,NaN,NaN,NaN,1,0
498,1321602352512716807,1321602352512716807,2020-10-28 23:58:49 UTC,2020-10-28,23:58:49,0,167488851,michaelpcolly,Michael Colly,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,1,0
499,1321602352483340292,1321602338101055488,2020-10-28 23:58:49 UTC,2020-10-28,23:58:49,0,740584584077836288,tcfka_ncsteve,"NC ""Facebook Delenda Est"" Steve",NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,1,0

In [6]:
bot_probas = {}

user_ids = set(data.user_id.unique())
for user in user_ids:
    bot_probas[user] = bot_proba(user)
    
data['bot_proba'] = data['user_id'].map(bot_probas)
data.bot_proba.value_counts()

75.12    187
11.23      3
25.80      3
53.81      3
35.62      2
        ...
42.99      1
12.87      1
23.90      1
72.79      1
21.97      1
Name: bot_proba, Length: 293, dtype: int64

In [7]:

bot_proba('edubu2')

75.12

In [8]:
data.bot_proba.value_counts().sort_index(ascending=False).head(20)

97.64    1
96.42    1
95.82    1
95.65    1
94.98    1
94.94    1
93.47    1
91.61    1
91.36    1
91.06    1
90.20    1
89.87    1
89.79    1
89.60    1
88.23    1
85.26    1
85.04    1
84.88    2
84.86    1
83.23    1
Name: bot_proba, dtype: int64

In [9]:
data.sort_values(by='bot_proba', ascending=False)[['username', 'tweet', 'bot_proba']].head()

,username,tweet,bot_proba
76,lindabrooks30,Wish Granted : ) NYS Saturday 10/24 VOTED: BI...,97.64
407,wiseguy2u,Journal Times editorial: Hunter Biden story sh...,96.42
447,octave56,@MoondanceGiving @JoeBiden No Trump voter,95.82
209,rawhitworth1,VOTE TRUMP AND END THE BIDEN CORRUPTION,95.65
441,stevesolowaymd,.@EricTrump @realDonaldTrump Biden is basical...,94.98

In [10]:
mask = data.bot_proba == np.nan
data[mask][['username', 'tweet', 'bot_proba']].shape

(0, 3)

In [11]:
verifieds = {}

user_ids = set(data.user_id.unique())
for user in user_ids:
    verifieds[user] = is_verified(user)
    
data['verified'] = data['user_id'].map(is_verified)
data.verified.value_counts()

Series([], Name: verified, dtype: int64)

In [26]:
mask = data.verified == np.NaN
data[mask]

Empty DataFrame
Columns: [id, conversation_id, created_at, date, time, timezone, user_id, username, name, place, tweet, language, mentions, urls, photos, replies_count, retweets_count, likes_count, hashtags, cashtags, link, retweet, quote_url, video, thumbnail, near, geo, source, user_rt_id, user_rt, retweet_id, reply_to, retweet_date, translate, trans_src, trans_dest, biden, trump, bot_proba, verified]
Index: []

[0 rows x 40 columns]

In [13]:
test = pd.DataFrame({'col_1': [3, 7], 'col_2': [10, 20]})

In [14]:
!cat twitter_funcs.py

# Imports
import os
import numpy as np
import pandas as pd

import pickle
import tweepy

from datetime import datetime
from secrets import api_secret_key, api_key, bearer_token
import re
import time

# Get fully-trained XGBoostClassifier model
with open("bot_model.pick", "rb") as read_file:
    xgb_model = pickle.load(read_file)

# Set up connection to Twitter API
auth = tweepy.OAuthHandler(api_key, api_secret_key)

api = tweepy.API(auth)


def get_user_features(user_id):
    """
    Input: a Twitter handle (screen_name)
    Returns: a list of account-level information used to make a prediction
            whether the user is a bot or not
    """

    try:
        # Get user information from screen name
        user = api.get_user(user_id)

        # account features to return for predicton
        account_age_days = (datetime.now() - user.created_at).days
        verified = user.verified
        geo_enabled = user.geo_enabled
        default_profile = user.default_profile
        default_profile_image = user.default_profile_image
        favourites_count = user.favourites_count
        followers_count = user.followers_count
        friends_count = user.friends_count
        statuses_count = user.statuses_count
        average_tweets_per_day = np.round(statuses_count / account_age_days, 3)

        # manufactured features
        hour_created = int(user.created_at.strftime("%H"))
        network = np.round(np.log(1 + friends_count) * np.log(1 + followers_count), 3)
        tweet_to_followers = np.round(
            np.log(1 + statuses_count) * np.log(1 + followers_count), 3
        )
        follower_acq_rate = np.round(
            np.log(1 + (followers_count / account_age_days)), 3
        )
        friends_acq_rate = np.round(np.log(1 + (friends_count / account_age_days)), 3)

        # organizing list to be returned
        account_features = [
            verified,
            hour_created,
            geo_enabled,
            default_profile,
            default_profile_image,
            favourites_count,
            followers_count,
            friends_count,
            statuses_count,
            average_tweets_per_day,
            network,
            tweet_to_followers,
            follower_acq_rate,
            friends_acq_rate,
        ]


    except:
        return np.nan

    return account_features if len(account_features) == 14 else np.nan


def bot_or_not(twitter_handle):
    """
    Takes in a twitter handle and predicts whether or not the user is a bot
    Required: trained classification model (XGBoost) and user account-level info as features
    """

    user_features = get_user_features(user_id)

    if user_features == "User not found":
        return np.nan

    else:
        # features for model
        features = [
            "verified",
            "hour_created",
            "geo_enabled",
            "default_profile",
            "default_profile_image",
            "favourites_count",
            "followers_count",
            "friends_count",
            "statuses_count",
            "average_tweets_per_day",
            "network",
            "tweet_to_followers",
            "follower_acq_rate",
            "friends_acq_rate",
        ]

        # creates df for model.predict() format
        user_df = pd.DataFrame(np.matrix(user_features), columns=features)

        prediction = xgb_model.predict(user_df)[0]

        return "Bot" if prediction == 1 else "Not a bot"


def bot_proba(user_id):
    """
    Takes in a twitter handle and provides probability of whether or not the user is a bot
    Required: trained classification model (XGBoost) and user account-level info from get_user_features
    """
    user_features = get_user_features(user_id)

    if user_features == np.nan:
        return np.nan
    else:
        user = np.matrix(user_features)
        proba = np.round(xgb_model.predict_proba(user)[:, 1][0] * 100, 2)
        return proba

def is_verified(user_id):
    """Returns 1 if user is verified; else 0."""
    try:
        user = api.get_user(user_id)
        return user.verified
    except:
        return np.nan

In [15]:
test

   col_1  col_2
0      3     10
1      7     20

In [16]:
def test_func(num):
    return num*10

test['col_3'] = test['col_1'].map(test_func)
test

   col_1  col_2  col_3
0      3     10     30
1      7     20     70