## Implementing Chris Doenlen's 'Bot Or Not' Python Module

Everything from `twitter_funcs.py` was cloned from Chris' [repository](https://github.com/scrapfishies/twitter-bot-detection).

I will use this to label each user as 'bot' (boolean 1/0).

In [14]:
import pandas as pd
import numpy as np
from twitter_funcs import *

In [15]:
tweets = pd.read_pickle("pickle/df_t_raw.pick")

In [16]:
data = tweets[:2000]

In [17]:
data.head(3)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,biden,trump
0,1321602647368019968,1321554078376226818,2020-10-28 23:59:59 UTC,2020-10-28,23:59:59,0,828075570219085824,jessferg2253,Jessa,NaN,...,NaN,NaN,NaN,"[{'screen_name': 'capriaaf', 'name': 'Capria',...",NaN,NaN,NaN,NaN,1,1
1,1321602647129051136,1321493697565880320,2020-10-28 23:59:59 UTC,2020-10-28,23:59:59,0,255255428,margculbster,margaret c,NaN,...,NaN,NaN,NaN,"[{'screen_name': 'Changinglenses', 'name': 'La...",NaN,NaN,NaN,NaN,1,0
2,1321602646973755395,1321602646973755395,2020-10-28 23:59:59 UTC,2020-10-28,23:59:59,0,15863393,katehinds,Kate Hinds,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,1,1

In [ ]:
bot_probas = {}


usernames = set(data.username.unique())
for user in usernames:
    bot_probas[user] = bot_proba('username')
    
data['bot_proba'] = data['username'].map(bot_probas)
data.bot_proba.value_counts()

In [10]:

data.bot_proba

<ipython-input-10-bd5211dab520>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['bot_proba'] = data['username'].map(bot_proba)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
95   NaN
96   NaN
97   NaN
98   NaN
99   NaN
Name: bot_proba, Length: 100, dtype: float64

In [12]:
data.bot_proba.value_counts()

Series([], Name: bot_proba, dtype: int64)